<!DOCTYPE html>
<html>
<head>
	<title>Bullseye Strings</title>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Description" content="Bullseye Strings offers you custom strings at an affordable price. All are pre-stretched to 400 pounds in order to ensure dependability and no weak points. We offer you a variety of products, in a wide range of colors from BCY 452X and 8190, as well as Brownell XS2 material."/>
    <link rel="shortcut icon" href="favicon.ico" />
    
    <!--[if IE]>
			<script src="/js/bullseye/html5shiv.js"></script>
			<script src="/js/bullseye/html5printshiv.js"></script>
	<![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Domine|Philosopher:700|Electrolize|Signika|Doppio+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bullseye/stylesheet.css" media="screen"/>
    <link rel="stylesheet" href="/css/bullseye/mobile.css" media="screen and (max-width: 960px)"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/bullseye/jquery.easyslider.js"></script>
    <script src="/js/bullseye/spam.js" type="text/javascript"></script>
	<!--[if !IE 7]>
		<style type="text/css">
			#wrap {display:table;height:100%}
		</style>
	<![endif]-->
    
</head>

<body class="index">
	<div id="wrapper">
		<div id="main">
			<header>
				<img src="/img/bullseye/logo05.png" class="logo" alt="bullseye logo"/>
				<nav>
                
                <div class="banner">
                	<h1 class="bullText">bulls<span id="eye">eye</span> strings</h1>
                	<span class="headContact"></span> <br/>
                </div>
                
                
          <ul class="tabrow">
					    <li class="homeLi">
					    	<a class="homeLink" href="/bullseye">Home</a>
					    </li>
					    <li class="proLi">
					    	<a class="proLink" href="/bullseye/prostaff">Prostaff</a>
					    </li>
					    <li class="colLi">
					    	<a class="colLink" href="/bullseye/colors">Colors</a>
					    </li>
					    <li class="ordLi">
					    	<a class="ordLink" href="/bullseye/order">Order</a>
					    </li>
					    <li class="conLi">
					    	<a class="conLink" href="/bullseye/contact">Contact</a>
					    </li>
					</ul>
				</nav>
			</header>

			<div id="content">
				<div id="slider">
					<ul>
						<li class="slider img1"></li>
						<li class="slider img2"></li>
						<li class="slider img3"></li>
						<li class="slider img4"></li>
						<li class="slider img5"></li>
						<li class="slider img6"></li>
                        <li class="slider img7"></li>
                        <li class="slider img8"></li>
					</ul>
				</div>
			
            <!--CONTENT START-->
            
            <div class="body">
            <div id="dealers">
            <h1 class="heading">Dealers</h1>
            	<p>We welcome dealer inquiries! If you would like to contact us about selling Bullseye Strings in your shop, or if you have questions about how we do business, please do not hesitate to give us a call. We will provide quality strings for your customers, and we will not stop until both you and your customers are content with your choice in Bullseye Strings.</p>
            </div>
            
            <div id="mission">
            <h1 class="heading">Mission</h1>
            
            <div id="sideBox">Bullseye Strings will always stand behind our products. If you have any issues with your strings or cables, please let us know at <span class="ER"></span>, or call us at (812) XXX-XXXX as soon as you notice an issue, and we will get it taken care of ASAP.</div>
            
            	<p>Bullseye Strings offers you custom strings at an affordable price.  We have been perfecting our bow strings for quite some time now. All are <span class="blueBold">pre-stretched to 400 pounds</span> in order to ensure dependability and no weak points. In addition, all of our serving is done under a precise number of pounds that we have found works the best to <span class="blueBold">elimnate peep rotation</span> and <span class="blueBold">reduce serving seperation</span>. We offer you a variety of products, in a wide range of colors from <span class="blueBold">BCY 452X and 8190</span>, as well as <span class="blueBold">Brownell XS2</span> material. Extensive testing has been done, and these materials have been found to be the most stable.</p>
                <p>We are here to help all of our fellow archers take the worry out of buying bowstrings; <span class="blueBold">full draw is not the place to wonder if you have the right string.</span> We are a business that is based on the principle of "<span class="blueBold">quality over quantity</span>."</p>
                <p class="hours"><span id="hours">Store Hours:</span> Bullseye Strings is no longer open to the public. This page exists solely to act as part of the online portfolio of websites created by Logan Swango.</p>

            </div>
            
            
            
            </div>
            
            
            <!--CONTENT END-->
			</div>

		</div>
	</div>
	<div id="footer">
		<div id="leftAlign">
      <a href="/bullseye">Home</a> | 
			<a href="/bullseye/prostaff">Prostaff</a> | 
			<a href="/bullseye/colors">Colors</a> | 
			<a href="/bullseye/order">Order</a> | 
			<a href="/bullseye/contact">Contact</a>
        </div>
        
        <div id="centerAlign">
        	<p>Redacted<br />
            Redacted<br />
            Redacted</p>
        	<p>Copyright &copy; Redacted<br />
            All Rights Reserved.</p>
        </div>
	</div>
</body>
</html>