extends layout

block content
  h1 Web Projects by Bango
  p.lead
    i "Look on my Works, ye Mighty, and despair."
  hr
  .row
    .col-sm-6
      h2 Gun Me Down
      p A very rudimentary Node.js/Socket.io/JS multiplayer game utilizing the HTML5 Canvas. Press esc to toggle the game stream.  WASD to move, arrow keys to turn, spacebar to shoot (shooting not yet implemented).
      p
        a.btn.btn-default(href='/gunmedown', role='button') Play »
    .col-sm-6
      h2 The Wonders of Science
      p A website I created for my first web design class, taken at Northwest Arkansas Community College.  It delves into some aspects of science that I find particularly interesting.
      p
        a.btn.btn-default(href='http://comp.uark.edu/~lbswango/me.php', role='button', target='_blank') Open in new Tab »
    .col-sm-6
      h2 Being Bango
      p I took another web design class for an art credit at the University of Arkansas.  This was my final project.  By this time, I was more experienced with frontend web development.
      p
        a.btn.btn-default(href='/being-bango', role='button') View Site »

    .col-sm-6
          h2 ELD Clan
          p I used to be a co-founder of an ARMA 2 clan, originally titled XXX, in which I administrated and developed game content for ARMA II Free and DayZ Epoch Servers.  Unfortunately, the group sort of dissolved away before the rename to ELD, and before this site ever went live.  Here is its final resting place.
          p
            a.btn.btn-default(href='/eld', role='button') View Site »
    .col-sm-6
      h2 Bullseye Strings
      p Bullseye was a bowstring company that is no longer in business. This was the third website I created as a novice freelance web designer.  
      p
        a.btn.btn-default(href='/bullseye', role='button') View Site »
    .col-sm-6
      h2 BottomUp Search Engine
      p I created a search engine from scratch for my Information Retrieval class at the UA using flex and C++ as a crawler/tokenizer, and just threw in some PHP to run the search binary and grab the results to display in the frontend.  It can query many terms over the dataset that was given to us for the project.  Perhaps one day I'll get around to modifying it to be used as an internal search engine for this website.
      p
        a.btn.btn-default(href='http://csce.uark.edu/~lbswango/search.php', role='button' target='_blank') Search in new Tab »
    .col-sm-6
      h2 Barn Burner Custom Strings
      p This was the second website I built for bowstring businesses in Arkansas/Indiana.  Barn Burner is live on barnburnerstrings.com.  Clicking the button below will open the site in a new tab.
      p
        a.btn.btn-default(href='http://barnburnerstrings.com', role='button' target='_blank') Open in new Tab »