<!DOCTYPE HTML>
<html>
	<head>
		<!------------------------------------------->
		<!-- Document created by Logan B.A. Swango -->
		<!------------------------------------------->
		
		<title>Childe Roland to the Dark Tower Came</title>
		<link href="/css/beingbango/style.css" type="text/css" rel="stylesheet" />
		<link href="http://fonts.googleapis.com/css?family=Droid+Serif|Michroma" rel="stylesheet" type="text/css" />

	</head>
	<body>
	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=519346054858124&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<div id="wrapper">
		
			<img src="/img/beingbango/logo.png" alt="sigul" id="eld" />
			<header>
				<div id="headerLeft">
					<h1 class="headerTitle">Being</h1>
					<nav>
						<ul id="headerLeftUL">
							<li><a href="/being-bango">Home</a></li>
							<li><a href="/being-bango/sparta">Sparta</a></li>
							<li><a href="/being-bango/einstein">Einstein</a></li>
						</ul>
					</nav>
				</div>
				<div id="headerRight">
					<h1 class="headerTitle">Swango</h1>
					<nav>
						<ul id="headerRightUL">
							<li><a href="/being-bango/lloyd">Lloyd</a></li>
							<li><a href="/being-bango/browning">Browning</a></li>
							<li><a href="/being-bango/plan">Plan</a></li>
						</ul>
					</nav>
				</div>
				<br class="clearBoth" />
			</header>
			
			<main id="content">
				<section id="leftSide">
					<article>
						<h2>Robert Browning</h2>
						<p>
							Robert Browning lived from 1812 to 1889 in England. He was a well known poet who produced my favorite work, <span class="italic">Childe Roland to the Dark Tower Came</span>. This poem is about a knight errant named Roland who is on a quest for a mystic turret he refers to as the Dark Tower.  The poem begins near the end of his journey, with lush vocabulary to describe the things he encounters along the way.  At the beginning he meets an old man who he believes is a chronic liar, who points him in the direction of the Dark Tower.  He goes in that direction and eventually the landscape shifts into a barren wasteland where everything he sees has negative connotations, including an old starved horse which looks like it wants to die.
						</p>
						<img src="/img/beingbango/browningBtn.jpg" alt="Robert Browning" class="marginLeft" />
						<p class="pWithImg">
							After a good amount of travel, he finds himself no closer to finding his tower than where he started, until he starts seeing all the geographical signs telling him that he is close. When he finally finds his tower, Roland blows his horn to signify that his journey has finally come to an end.
						</p>
						<p>
							This poem was one of the major inspirations to Stephen King's magnum opus, the Dark Tower, which is a series of 7 novels, where similarly, a sort of knight (known as a gunslinger) named Roland Deschain is on a life-long quest to save all of existence by going to the Dark Tower, which is a physical place, but also an abstract centrifuge that holds together all of existence.  His purpose is to eliminate the antagonists who seek to destroy the tower. This series is my favorite of any novels, and the poem that it was based upon is my favorite poem, so much so that I have memorized over 100 lines of Browning's work.  To the right you will find the first 3 stanzas, which I find to be beautifully written and powerful, especially in the last 3 lines of the third stanza.
						</p>
						<p>
							
						</p>
					</article>
				</section>
				<aside id="rightSide">
					<h2>Childe Roland to the Dark Tower Came <small>(Excerpt)</small></h2>
					<h3 class="italic noBold">By: Robert Browning</h3>
					<div class="center">
						<div class="stanza">
							<span>My first thought was, he lied in every word.</span><br />
							<span>That hoary cripple, with malicious eye</span><br />
							<span>Askance to watch the working of his lie</span><br />
							<span>On mine, and mouth scarce able to afford</span><br />
							<span>Suppression of the glee that pursed and scored</span><br />
							<span>Its edge, at one more victim gained thereby.</span><br />
						</div>
						<div class="stanza">
							<span>What else should he be set for, with his staff?</span><br />
							<span>What, save to waylay with his lies, ensnare</span><br />
							<span>All travelers who might find him posted there</span><br />
							<span>And ask the road?  I guessed what skull-like laugh</span><br />
							<span>Would break, what crutch 'gin write my epitaph</span><br />
							<span>For pastime in the dusty thoroughfare,</span><br />
						</div>
						<div class="stanza">
							<span>If at his council I should turn aside</span><br />
							<span>Into that ominous tract which, all agree</span><br />
							<span>Hides the Dark Tower? Yet aquiescingly</span><br />
							<span>I did turn as he pointed, neither pride</span><br />
							<span>Nor hope rekindling at the end descried,</span><br />
							<span>So much as gladness that some end might be.</span><br />
						</div>
					</div>
				</aside>
				<br class="clearBoth" />
			</main>
			
			<footer>
				<small>
					Site created by <a href="http://comp.uark.edu/~lbswango/me.php">Logan Swango</a> &middot; 
				</small>
				<div class="fb-like" data-href="http://swango.xyz" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</footer>
		</div>
	</body>
</html>