<!DOCTYPE HTML>
<html>
	<head>
		<!------------------------------------------->
		<!-- Document created by Logan B.A. Swango -->
		<!------------------------------------------->
		
		<title>Albert Einstein</title>
		<link href="/css/beingbango/style.css" type="text/css" rel="stylesheet" />
		<link href="http://fonts.googleapis.com/css?family=Droid+Serif|Michroma" rel="stylesheet" type="text/css" />

	</head>
	<body>
	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=519346054858124&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<div id="wrapper">
		
			<img src="/img/beingbango/logo.png" alt="sigul" id="eld" />
			<header>
				<div id="headerLeft">
					<h1 class="headerTitle">Being</h1>
					<nav>
						<ul id="headerLeftUL">
							<li><a href="/being-bango">Home</a></li>
							<li><a href="/being-bango/sparta">Sparta</a></li>
							<li><a href="/being-bango/einstein">Einstein</a></li>
						</ul>
					</nav>
				</div>
				<div id="headerRight">
					<h1 class="headerTitle">Swango</h1>
					<nav>
						<ul id="headerRightUL">
							<li><a href="/being-bango/lloyd">Lloyd</a></li>
							<li><a href="/being-bango/browning">Browning</a></li>
							<li><a href="/being-bango/plan">Plan</a></li>
						</ul>
					</nav>
				</div>
				<br class="clearBoth" />
			</header>
			
			<main id="content">
				<section id="leftSide">
					<article>
						<h2>Albert Einstein</h2>
						<p>
							Einstein is known for revolutuinizing the world of physics.  His most widely known contribution is the theory of relativity, which states that E = mc<sup>2</sup>.  In this equation, E refers to energy requirement.  The m in the equation stands for the mass of a given object, and c is the abbreviation for the speed of light, which is around 299,792,458 meters per second. This is less commonly known as the universal speed limit!
						</p>
						<div class="center">
							<img src="/img/beingbango/einstein.jpg" alt="Albert Einstein" />
						</div>
						<p>
							What does this mean to us? Well, for starters, anything with mass cannot ever reach the speed of light. If mass has any value other than 0, the faster it travels, the energy required to reach that velocity amplifies exponentially. To be able to reach c, an object of mass would require infinite energy. That is why only photons (particles of light) are the only particles that can travel at the speed of light: because they have 0 mass! Are we having fun yet??
						</p>
						<p>
							Einstein himself, while known as the father of relativity, also made many other important contributions to science.  Before he became famous, he was a lowly patent office clerk, working with math in his spare time.  In his entire life, he published more than 300 scholarly articles, about half of which were not science related at all.  He lived from 1879 to 1955, during his lifetime he received the Nobel Peace Prize in physics, but surprisingly not for relativity.  Rather, he received the award for the discovery and mapping of the photoelectric effect.  His prize money was given to his wife and children in exchange for a divorce (he was in love with his cousin).
						</p>
					</article>
				</section>
				<aside id="rightSide">
					<h2>Relativity Videos</h2>
					<!--video-->
					<div class="center">
						<iframe width="420" height="315" src="https://www.youtube.com/embed/V7vpw4AH8QQ" allowfullscreen></iframe>
					</div>
					<!--video-->
					<div class="center">
						<iframe width="420" height="315" src="https://www.youtube.com/embed/C2VMO7pcWhg" allowfullscreen></iframe>
					</div>
				</aside>
				<br class="clearBoth" />
			</main>
			
			<footer>
				<small>
					Site created by <a href="http://comp.uark.edu/~lbswango/me.php">Logan Swango</a> &middot; 
				</small>
				<div class="fb-like" data-href="http://swango.xyz" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</footer>
		</div>
	</body>
</html>