<!DOCTYPE HTML>
<html>
	<head>
		<!------------------------------------------->
		<!-- Document created by Logan B.A. Swango -->
		<!------------------------------------------->
		
		<title>Being Swango</title>
		<link href="/css/beingbango/style.css" type="text/css" rel="stylesheet" />
		<link href="http://fonts.googleapis.com/css?family=Droid+Serif|Michroma" rel="stylesheet" type="text/css" />

	</head>
	<body>
	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=519346054858124&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<div id="wrapper">
		
			<img src="/img/beingbango/logo.png" alt="sigul" id="eld" />
			<header>
				<div id="headerLeft">
					<h1 class="headerTitle">Being</h1>
					<nav>
						<ul id="headerLeftUL">
							<li><a href="/being-bango">Home</a></li>
							<li><a href="/being-bango/sparta">Sparta</a></li>
							<li><a href="/being-bango/einstein">Einstein</a></li>
						</ul>
					</nav>
				</div>
				<div id="headerRight">
					<h1 class="headerTitle">Swango</h1>
					<nav>
						<ul id="headerRightUL">
							<li><a href="/being-bango/lloyd">Lloyd</a></li>
							<li><a href="/being-bango/browning">Browning</a></li>
							<li><a href="/being-bango/plan">Plan</a></li>
						</ul>
					</nav>
				</div>
				<br class="clearBoth" />
			</header>
			
			<main id="content">
				<section id="leftSide">
					<article>
						<h2>About Me</h2>
						<p>
							My name is Logan B.A.Swango. I completed this website at the University of Arkansas in the summer of 2014. I am studying to complete my Bachelor of Arts in Computer Science, because eventually I want to be a game programmer. Although, I like web designing too, and would be more than happy to do it professionally if it ever came down to it.
						</p>
						<p>
							I have been a paid web designer since 2011. My experience in the field of website administration is fairly extensive.  In high school, I took a course in advanced web design, however we coded exclusively in Dreamweaver and I was taught to format my content using tables.  Since then, I have taken more advanced and appropriate courses in web design at NWACC, been hired on to develop the business websites for 3 bowstring manufacturing companies based out of Indiana and Arkansas, received solid PHP and JavaScript foundational principles out of my programming paradigms class, and I have also developed numerous functional and nonfunctional websites for friends, colleagues, and my own pleasure.
						</p>
						<p>
							I work for CTTP, which is a short abbreviation for the long title Center for Training Transportation Professionals.  There, I am a programmer, web developer, and database administrator.  We deal extensively with CMS and PHP frameworks such as Symfony, CodeIgniter, and Joomla for creating and routing dynamic content wherever it needs to go.  I think you've heard enough about me for the time being.  Click on an image below to learn a little bit more about my interests!
						</p>
					</article>
					<nav id="indexNav">
						<a href="/being-bango"><img src="/img/beingbango/homeBtn.jpg" alt="Home" class="indexNavigation" /></a>
						<a href="/being-bango/sparta"><img src="/img/beingbango/spartaBtn.jpg" alt="Home" class="indexNavigation" /></a>
						<a href="/being-bango/einstein"><img src="/img/beingbango/einsteinBtn.jpg" alt="Home" class="indexNavigation" /></a>
						<a href="/being-bango/lloyd"><img src="/img/beingbango/lloydBtn.jpg" alt="Home" class="indexNavigation" /></a>
						<a href="/being-bango/browning"><img src="/img/beingbango/browningBtn.jpg" alt="Home" class="indexNavigation" /></a>
						<a href="/being-bango/plan"><img src="/img/beingbango/planBtn.jpg" alt="Home" class="indexNavigation" /></a>
					</nav>
				</section>
				<aside id="rightSide">
					<h2>My Videos</h2>
					<!--video-->
					<div class="center">
						<iframe width="420" height="315" src="https://www.youtube.com/embed/TZR4NNV3TkM" allowfullscreen></iframe>
					</div>
					<!--video-->
					<div class="center">
						<iframe width="420" height="315" src="https://www.youtube.com/embed/uhYFtsyC61A" allowfullscreen></iframe>
					</div>
				</aside>
				<br class="clearBoth" />
			</main>
			
			<footer>
				<small>
					Site created by <a href="http://comp.uark.edu/~lbswango/me.php">Logan Swango</a> &middot; 
				</small>
				<div class="fb-like" data-href="http://swango.xyz" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</footer>
		</div>
	</body>
</html>