<!DOCTYPE HTML>
<html>
	<head>
		<!------------------------------------------->
		<!-- Document created by Logan B.A. Swango -->
		<!------------------------------------------->
		
		<title>Lloyd Swango</title>
		<link href="/css/beingbango/style.css" type="text/css" rel="stylesheet" />
		<link href="http://fonts.googleapis.com/css?family=Droid+Serif|Michroma" rel="stylesheet" type="text/css" />

	</head>
	<body>
	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=519346054858124&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<div id="wrapper">
		
			<img src="/img/beingbango/logo.png" alt="sigul" id="eld" />
			<header>
				<div id="headerLeft">
					<h1 class="headerTitle">Being</h1>
					<nav>
						<ul id="headerLeftUL">
							<li><a href="/being-bango">Home</a></li>
							<li><a href="/being-bango/sparta">Sparta</a></li>
							<li><a href="/being-bango/einstein">Einstein</a></li>
						</ul>
					</nav>
				</div>
				<div id="headerRight">
					<h1 class="headerTitle">Swango</h1>
					<nav>
						<ul id="headerRightUL">
							<li><a href="/being-bango/lloyd">Lloyd</a></li>
							<li><a href="/being-bango/browning">Browning</a></li>
							<li><a href="/being-bango/plan">Plan</a></li>
						</ul>
					</nav>
				</div>
				<br class="clearBoth" />
			</header>
			
			<main id="content">
				<section id="leftSide">
					<article>
						<h2>Lloyd Swango</h2>
						<div class="centerArticle">
						<p>
							A significant figure in my life is my grandpa, Lloyd Swango. He lives today in Bloomington Indiana, my hometown. During his life, he married at a relatively young age to my grandmother, Joyce.  They had 5 children, and he worked hard to provide for them all and keep them in better days. He worked at the local university's (IU) printing press until he retired when I was about 4.
						</p>
						<p>
							My grandfather is a minister as well.  Before I was born, he used to give sermons at 3 different churches every Sunday, and would bring his wife and children with him to every one of them.  He is currently only a minister of 1 church.  In addition, he has been active in the local comminity for his whole life.  Perhaps his biggest extracurricular is the local Lions' Club chapter.  He was elected the governor of the Lions' Club over all of Southern Indiana for a couple of years when I was small.
						</p>
						<p>
							Lloyd also pastures cattle, and has a few gardens with many different kinds of vegetables which he and my grandmother use often, for eating, canning, and cooking for a church or Lions' related event.  He has done this for most of his life, particularly after he had his house built and moved into it in the 60's.  For an 84 year old man, he still gets around very well and is a particularly productive individual, a relic of depression-era days and before, when hard work was how everyone survived.
						</p>
						<p>
							My grandfather is a hard working individual with a passion for his beliefs and an unconditional love for his children, and especially his grandchildren.  Growing up with a single, full-time working mother, I spent much of my time at my grandparents' house, where they stood as my role models and caregivers until my mother would come home from work each day.  Even in my free time, since I lived right across the road, I would frequent their house.
						</p>
						<p>
							In addition to being a stand-up individual, he also spoiled me a lot, letting me steer his truck home from school some days, or running errands in town. We really had a unique bond.  Sometimes we would make up silly songs.  One that I remember he created started with "Take an old cold tater and wait," which provided lots of laughter for us as I attempted to add new rhymes that were not nearly so funny. I am eternally grateful to have been raised for so long in that household, because many of what I consider my most important values and beliefs were enstilled in me during that time of my life.  There is no person on the planet that I respect more than my grandfather.
						</p>
						</div>
					</article>
				</section>
				<aside id="rightSide">
					<h2>Lloyd's Estate</h2>
					<!--video-->
					<div class="center">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d518.292078826226!2d-86.54327883321884!3d39.06366946909306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886c685492992f7d%3A0x42396265ccfad905!2s645+Rogers+Rd+W!5e1!3m2!1sen!2sus!4v1403920512116" width="420" height="315" style="border:0"></iframe>
					</div>
					<div id="lloydQuote" class="center">
						<img src="/img/beingbango/lloydBtn.jpg" alt="Lloyd Swango" id="lloyd" />
						<div id="coldTater">
							<span>"Take an old cold tater and wait"</span>
							<div id="quoter">-Lloyd Swango</div>
						</div>
					</div>
				</aside>
				<br class="clearBoth" />
			</main>
			
			<footer>
				<small>
					Site created by <a href="http://comp.uark.edu/~lbswango/me.php">Logan Swango</a> &middot; 
				</small>
				<div class="fb-like" data-href="http://swango.xyz" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</footer>
		</div>
	</body>
</html>