<!DOCTYPE HTML>
<html>
	<head>
		<!------------------------------------------->
		<!-- Document created by Logan B.A. Swango -->
		<!------------------------------------------->
		
		<title>25-Year Plan</title>
		<link href="/css/beingbango/style.css" type="text/css" rel="stylesheet" />
		<link href="http://fonts.googleapis.com/css?family=Droid+Serif|Michroma" rel="stylesheet" type="text/css" />

	</head>
	<body>
	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=519346054858124&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<div id="wrapper">
		
			<img src="/img/beingbango/logo.png" alt="sigul" id="eld" />
			<header>
				<div id="headerLeft">
					<h1 class="headerTitle">Being</h1>
					<nav>
						<ul id="headerLeftUL">
							<li><a href="/being-bango">Home</a></li>
							<li><a href="/being-bango/sparta">Sparta</a></li>
							<li><a href="/being-bango/einstein">Einstein</a></li>
						</ul>
					</nav>
				</div>
				<div id="headerRight">
					<h1 class="headerTitle">Swango</h1>
					<nav>
						<ul id="headerRightUL">
							<li><a href="/being-bango/lloyd">Lloyd</a></li>
							<li><a href="/being-bango/browning">Browning</a></li>
							<li><a href="/being-bango/plan">Plan</a></li>
						</ul>
					</nav>
				</div>
				<br class="clearBoth" />
			</header>
			
			<main id="content">
				<section id="leftSide">
					<article>
						<h2>25-Year Plan</h2>
						<p>
							In 25 years, I see myself working for a tech startup that became popular. There are a few I can think of here in Fayetteville, but one that stands out to me is DataRank.  <a href="https://www.datarank.com/">DataRank</a> is a small-time company that has recently seen big interest in the data-mining community. The purpose of the company is to take company data stored over long periods of time and make it into a useful statistic based on whatever the client company requests.  Something like this really has a growing niche in the world of e-commerce and commerce in general, because it allows companies to get a firsthand view of what their most successful demographics are, what can be changed to increase product turnaround, order turnaround, really the possibilities are endless.
						</p>
						<p>
							When I'm 48 years old, I plan on having a nice house somewhere in Indiana, close to where I grew up.  If all goes well, I will be married, but if I still feel the way I feel today, I probably won't have any children.  My car will be pleasing to the eye and efficient on fuel consumption, a combination that I find to currently be as rare as an albino tiger.  I don't require much, but one thing that I believe will be crucial is a fast computer with NAS and fiber internet. I plan on running many types of different applications from this network, all free to access, such as websites, game servers, perhaps even a network for an app that I create between now and then.  Who knows what sorts of things I will be into in 25 years.
						</p>
						<p>
							I don't plan on having any sort of following, but if I do, I want to have a cult twitter following of programmers and IT persons who can understand and enjoy the off-brand humor that comes with being tech-savvy.  Here's a prime example:
						</p>
						<div class="center">
							<img src="i/img/beingbango/stackOverflow.jpg" alt="Programming Humor" />
						</div>
					</article>
				</section>
				<aside id="rightSide">
					<h2>Hak5</h2>
					<p>
						I'll also be constantly updating my profile with neat and clever methods and apps used in both blackhat and whitehat fields of computer science.  For instance, in my cryptography class currently we are implementing time-conscious functions to factor extremely large numbers (over 1000 digits) into a series of primes, which is applicable in solving the Discrete Log Problem, a theory proposed mainly to calculate private RSA encryption keys via something called the man-in-the-middle attack.  Here is the twitter feed of <a href="http://hak5.org/">Hak5</a>, a prominent name in the blackhat industry which is full of useful information equally as interesting.
					</p>
					<div class="center">
						<a width="400" class="twitter-timeline" data-dnt="true" href="https://twitter.com/Hak5" data-widget-id="482731741610639361">Tweets by @Hak5</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</aside>
				<br class="clearBoth" />
			</main>
			
			<footer>
				<small>
					Site created by <a href="http://comp.uark.edu/~lbswango/me.php">Logan Swango</a> &middot; 
				</small>
				<div class="fb-like" data-href="http://swango.xyz" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</footer>
		</div>
	</body>
</html>