<!DOCTYPE HTML>
<html>
	<head>
		<!------------------------------------------->
		<!-- Document created by Logan B.A. Swango -->
		<!------------------------------------------->
		
		<title>The Battle of Thermopylae</title>
		<link href="/css/beingbango/style.css" type="text/css" rel="stylesheet" />
		<link href="http://fonts.googleapis.com/css?family=Droid+Serif|Michroma" rel="stylesheet" type="text/css" />

	</head>
	<body>
	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=519346054858124&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<div id="wrapper">
		
			<img src="/img/beingbango/logo.png" alt="sigul" id="eld" />
			<header>
				<div id="headerLeft">
					<h1 class="headerTitle">Being</h1>
					<nav>
						<ul id="headerLeftUL">
							<li><a href="/being-bango">Home</a></li>
							<li><a href="/being-bango/sparta">Sparta</a></li>
							<li><a href="/being-bango/einstein">Einstein</a></li>
						</ul>
					</nav>
				</div>
				<div id="headerRight">
					<h1 class="headerTitle">Swango</h1>
					<nav>
						<ul id="headerRightUL">
							<li><a href="/being-bango/lloyd">Lloyd</a></li>
							<li><a href="/being-bango/browning">Browning</a></li>
							<li><a href="/being-bango/plan">Plan</a></li>
						</ul>
					</nav>
				</div>
				<br class="clearBoth" />
			</header>
			
			<main id="content">
				<section id="leftSide">
					<article>
						<h2>The Battle of Thermopylae</h2>
						<p>
							The Battle of Thermopylae was fought between an alliance of Greek city-states, led by King Leonidas of Sparta, and the Persian Empire of Xerxes I over the course of three days, during the second Persian invasion of Greece. It took place at the narrow coastal pass of Thermopylae, or 'The Hot Gates'. The Persian leader, Xerxes, had amassed a huge army and Navy and sought to overtake Sparta for not pledging fielty.
						</p>
						<p>
							A Greek force of approximately 7,000 men marched north to block the pass in the summer of 480 BC. The Persian army, being of about 100,000 to 150,000 strong, arrived at the pass in late August or early September. The vastly outnumbered Greeks held off the Persians for seven days before the rear-guard was annihilated in one of history's most famous last stands. During two full days of battle the small force led by King Leonidas blocked the only road by which the massive Persian army could pass.
						</p>
						<p>
							After the second day of battle a local resident named Ephialtes betrayed the Greeks by revealing a small path that led behind the Greek lines. Leonidas, aware that his force was being outflanked, dismissed the bulk of the Greek army and remained to guard the rear with 300 Spartans, 700 Thespians, 400 Thebans and perhaps a few hundred others, most of whom were killed.
						</p>
						<h2>Spartan Legacy</h2>
						<article>
							<p>
							The Battle of Thermopylae has been used often as a timeless example of the power of patriotism and strategy on native soil. Using the terrain as a funnel, the Spartans and Greeks were able to hold their ground whilst being severely outnumbered for a rather long length of time. This battle has become a symbol of courage against overwhelming odds.
						</p>
						<p>
							The Battle of Thermopylae has remained an icon of western civilization ever since it was fought. The battle is revisited in countless adages, in literature in song, and in films, television programs and video games. The battle is discussed in many books and articles on the theory and practice of warfare. The movies The 300 Spartans (1962) and 300 (2007) were based on the events during and close to the time of the battle.
						</p>
					</article>
				</section>
				<aside id="rightSide">
					<h2>Location</h2>
					<div class="center">
						<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d12103.638836522914!2d22.544847834982853!3d38.80106011020153!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135f5eacd78a1d33%3A0x606f85fcbd49038d!2sThermopylae!5e1!3m2!1sen!2sus!4v1403917945467" width="400" height="300" frameborder="0" style="border:0"></iframe>
					</div>
					<div class="center">
						<iframe width="420" height="315" src="https://www.youtube.com/embed/gBMUuhlhL8A" frameborder="0" allowfullscreen></iframe>
					</div>
						</article>
				</aside>
				<div class="reference">
				<span>Some content used under the <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_the_GNU_Free_Documentation_License">GNU license</a>.</span>
				<br />
				<span>Battle of Thermopylae. (2014, June 15). In Wikipedia, The Free Encyclopedia. Retrieved 01:03, June 28, 2014, from <a href="http://en.wikipedia.org/w/index.php?title=Battle_of_Thermopylae&oldid=612999034">Wikipedia</a>.</span>
				</div>
				<br class="clearBoth" />
			</main>
			
			<footer>
				<small>
					Site created by <a href="http://comp.uark.edu/~lbswango/me.php">Logan Swango</a> &middot;
				</small>
				<div class="fb-like" data-href="http://swango.xyz" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</footer>
		</div>
	</body>
</html>